header {
    background-color: #13584f;
    text-align: center;
}

.logo{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 0px 20px;
    padding: 0px;
}

p{
    text-align: justify;
    font-size: 15px;
    padding: 0px 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 10px 0;
    letter-spacing: 1px;

}



/*NAVBAR*/

.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
}

.collapse.navbar-collapse {
    justify-content: space-around;
    padding: 10px 10px; 
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 12px 16px;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
}
.container-fluid{
    background-color: #033834;
    border-bottom: 2px solid #8b4b0f;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.collapse{
    justify-content: space-evenly;
    background-color: #8b4b0f;
    margin: 5%;
}
h1{
    font-family: 'Arial', sans-serif;
    text-decoration: underline;
    font-weight: bold;
    background-color: #8b4b0f;
    color: white;
    width: 100%;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #8b4b0f;
    color: white;
    width: 100%;
}

h3{
    text-align: start;
    font-family: 'Arial', sans-serif;
    text-decoration: underline;
}
body {
    background-color: #033834;
    color: #fcfcfc;
    font-family: "Work Sans", sans-serif;
}

li{
    list-style: none;
}

/*VEHICULOS*/

.navcoches{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    background-color: #13584f;
    margin: 10px 0px;
}

.navcoches a{
    color: white;
    text-decoration: underline;
    padding: 0px 10px;
    background-color: #8b4b0f;
}

/*mapas index*/
.maps{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* CASCADE HILLS*/
.cascade{
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "imgc  textoc";
    grid-template-rows:1fr 3fr;
    justify-items: center;
    border: 2px dashed #8b4b0f;
}
.tituloc{
    grid-area: titulo;
    width: 100%;
}
.textoc{
    grid-column:2;
    grid-row: 2;
    text-align: center;
}

.imgc{
    grid-column: 1;
    grid-row:1,2;
    border-radius: 8px;
}

/*Meagher Valley*/
.meagher{
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "imgm textom";
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    border: 2px dashed #8b4b0f;
}

.titulom{
    grid-area: titulo;
    width: 100%;
}

.textom{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}
.imgm{
    grid-column: 1;
    grid-row: 1,2;
    border-radius: 8px;
}

/*Drucker Country*/

.drucker{
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "imgd textod";
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    border: 2px dashed #8b4b0f;
}

.titulod{
    grid-area: titulo;
    width: 100%;
}

.textod{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.imgd{
    grid-column: 1;
    grid-row: 1,2;
    border-radius: 8px;
}

/*Providence Ridge*/

.providence{
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "imgp textop";
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    border: 2px dashed #8b4b0f;
}
.titulop{
    grid-area: titulo;
    width: 100%;
}
.textop{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}
.imgp{
    grid-column: 1;
    grid-row: 1,2;
    border-radius: 8px;
}

/*Trumbull Valley*/

.trumbull{
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "imgv textov";
    grid-template-rows: 1fr ;
    justify-items: center;
    border: 2px dashed #8b4b0f;
}

.titulov{
    grid-area: titulo;
    width: 100%;
}

.textov{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.imgv{
    grid-column: 1;
    grid-row: 1,2;
    border-radius: 8px;
}

/*HTML HABILIDADES*/

.navhabilidades{
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    padding: 0;
}

.navhabilidades a{
    color: white;
    text-decoration: underline;
    padding: 0px 10px;
}
#habilidades li{
    text-decoration: underline;
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    padding: 0;
}

/*TABLA CARDIO*/
.tablacardio {
  width: 30%;
  border-collapse: separate;
  margin: 20px auto;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4e8;
  color: #333;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tablacardio th, .tablacardio td {
  border: 1px solid #ccc;
  padding: 5px 0px;
  text-align: center;
}

.tablacardio th {
  background-color: #dcd9c7;
  font-weight: bold;
}

.tablacardio tr:nth-child(even) {
  background-color: #eeeeda;
}

.tablacardio tr:hover {
  background-color: #d1d0b8;
}

/*CARDIO*/
.cardio h3 {
    margin: 0;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.cardio p {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    text-align: justify;
}


.espcardio ul li{
    text-decoration: underline;
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    padding: 0;
}


/*HTML RASGOS*/

.accordion{
    border: 2px solid #8b4b0f;
    border-radius: 10px;
    width: auto;
}

.accordion-body{
    text-align: start;
    background-color: #13584f;
    padding: 5px 0px;
    border: 2px solid #8b4b0f;
}

.accordion-body li{
    text-decoration: underline;
    background-color: #8b4b0f;
    border: 1px solid #8b4b0f;
    width: 16%;
    border-radius: 6px;
    margin: 10px 0px;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    padding: 0;
}

.accordion-body p{
    text-align: justify;
    font-size: 13px;
    padding: 0px 15px;
}

.accordion-header{
    background-color: #8b4b0f;
    color: white;
    padding: 5px 5px;
    border-bottom: 1px solid #eee;
}

.accordion-button{
    background-color: transparent;
    color: white;
    border: none;
    text-align: left;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.accordion-button {
    outline: none;
    box-shadow: 0 0 0 3px #8b4b0f(255, 255, 255, 0.5);
    background-color: #13584f;
}

.accordion-collapse.collapse.show {
margin: 0;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #13584f;
}



/*RESPONSIVE*/

.maps {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .maps {
    grid-template-columns: 1fr;
  }
}
.cascade {
  color: white;
  padding: 16px;
  border-radius: 8px;
  border: 2px dashed orange; 
}


.meagher{
  color: white;
  padding: 16px;
  border-radius: 8px;
  border: 2px dashed orange;  
}

.drucker{
  color: white;
  padding: 16px;
  border-radius: 8px;
  border: 2px dashed orange; 
}


.providence{
  color: white;
  padding: 16px;
  border-radius: 8px;
  border: 2px dashed orange; 
}

.trumbull{
  color: white;
  padding: 16px;
  border-radius: 8px;
  border: 2px dashed orange; 
}